[2010-10-12 07:54] dvv opened #2 "noWrap"
Please, replace 'noWrap' with wrap: false to obey the recent changes to coffeescript

[2010-10-14 08:01] mauricemach commented on #2
Thanks for the catch. Actually it just changed again from `wrap: false` to `bare: on`. I've put it in a branch `next-coffeescript`, and when it their next release comes out, I'll merge it to master.

[2010-10-14 08:10] dvv commented on #2
Thanks!

[2010-10-14 08:10] #2 closed, assigned to nobody

[2010-10-24 11:56] ouvanous opened #3 "Compile on the fly"
Hi,

Do you think it is possible to have coffekup compile automatically like coffee -cw ?
I also would like to know if it is possible in this way to render template in a template ?

e.g :
html ->
  head ->
    @render 'mytemplate.coffee'

Many thanks for coffeekup

Samuel

[2010-10-24 12:03] ouvanous commented on #3
forget to tell that render a template in a template via coffeekup command line ?

[2010-10-25 01:24] mauricemach commented on #3
Hi Samuel,

"compile automatically like coffee -cw" - I'm all for that. In fact the CLI tool needs some love. I'll work on it and post back here when it's ready.

nested rendering - You can certainly do this already, see this [gist](http://gist.github.com/644214). You can even define it as a local (just `render` instead of `@render`), which I think is preferrable since the context (`@`) is a good

[2010-10-25 18:18] ouvanous commented on #3
Hi Maurice and thanks for your response.
That is exactly what i need !
I want to use coffeekup for prototyping with less for css.
So i can use template and component (e.g nav.coffee, layout.coffee, ...) and generate (automatically) by command line (with watch options the html files)
The code with coffeekup is extremly clear : thanks ;-)
Is it possible to have html generated formatted correctly ? (

[2010-10-26 22:21] mauricemach commented on #3
Just pushed a new version with:

`-w`: Watches and recompiles just like `coffee`

`-u`: Adds helper locals to your templates (only `render` currently)

`-f`: Formats the output HTML with line breaks. I'll add indentation too in the future. This option is also available from the API (`CoffeeKup.render tpl, format: yes`)

Please tell me if I got it right!

[2010-10-26 22:26] mauricemach commented on #3
PS: This version is not on npm yet, to check it out you can clone the repo and run `npm link .` at the package dir.

[2010-10-27 06:44] ouvanous commented on #3
Wow ! many thanks Maurice.
I will test that this evening but it seems very nice.
Once i 'll have little time I will try to make a little logo for coffeekup ;-)
Many thanks again !

[2010-10-28 03:45] mauricemach commented on #3
Well that would be great!

I've been thinking of something along the lines of a coffee... cup... between brackets. But if you think it's too cheesy, I can certainly understand! =D

[2010-10-30 15:53] ghost opened #4 "precompilation to function: (locals) -> html"
Hi! Good work. I like this philosophy.
I would like to use Coffeekup on clientside with Sammy framework, but precompiling coffekup templates on server to pure functions like in haml-js:
Haml(haml) -> template(locals) -> html.
Is it possible?

[2010-10-31 08:40] mauricemach commented on #4
It is under way, I'm working on compiling the templates to standalone functions that don't depend on the rendering engine. It should be up in a few days.

Meanwhile, you can precompile your templates to JS (using any standard CoffeeScript precompilation scheme) and render them in the browser using only the 2k coffeekup.js (take a look at [this example](http://github.com/mauricemach/coffeekup/blob/

[2010-10-31 13:59] ghost commented on #4
Thanks for response.

[2010-11-01 18:20] mauricemach commented on #4
Just pushed it to master. If you could help me test it, that would be great!

[code]

...send `template.toString()` to browser and:

[code]

[2010-11-03 10:22] aeosynth opened #5 "class / id shortcuts"
Are you planning on adding hash (#) and dot (.) as id / class shortcuts? Although hash might not work since that's coffeescript's comment character.

[2010-11-03 15:41] mauricemach commented on #5
I'd like to eventually come up with a solution to make ids and classes shorter to express, but that will have to be through some clever exploit of valid CoffeeScript syntax. The defining characteristic of CoffeeKup as I see it, its greatest strength _and_ weakness, is that it's not actually yet another templating language with its own parser, it's just a way to express markup through an existing a

[2010-11-08 16:31] #3 closed, assigned to nobody

[2010-11-08 16:31] #4 closed, assigned to nobody

[2010-11-10 21:22] flippyhead opened #6 "cannot render layouts"
I cannot get layouts to render. It finds the views/layout.coffee file, but errors with:

TypeError: string is not a function
    at String.CALL_NON_FUNCTION (native)
    at Object.anonymous (eval at <anonymous> (/usr/local/lib/node/.npm/coffeekup/0.1.7/package/lib/coffeekup.js:139:25))
    at Object.render (/usr/local/lib/node/.npm/coffeekup/0.1.7/package/lib/coffeekup.js:144:21)
    at ServerResp

[2010-11-10 22:13] mauricemach commented on #6
Does the example at /examples/express work for you?

[2010-11-10 22:21] flippyhead commented on #6
No, that's what I'm using. If I remove everything but something like:

h1 @body

It works..

[2010-11-10 22:32] mauricemach commented on #6
I see you're on 0.1.7. Can you give 0.2.0 a try?

What version is your CoffeeScript?

[2010-11-10 23:53] flippyhead commented on #6
Don't know why, but that did it! Thank you

[2010-11-11 02:29] mauricemach commented on #6
No problem. If you stumble upon further issues, let me know!

[2010-11-11 07:53] #6 closed, assigned to nobody

[2010-11-12 03:01] jbr opened #7 "JS error on coffeekup.org"
Uncaught Error: When creating object "editor", there is no factory called "text_editor" available."
BespinEmbedded.js:7875

UserAgent: Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_5_8; en-US) AppleWebKit/534.10 (KHTML, like Gecko) Chrome/8.0.552.28 Safari/534.10

Hope that helps

[2010-11-12 03:53] mauricemach commented on #7
That could happen sometimes because I was using my own detection instead of window.onBespinLoad, as I had some previous problems with it. Now you brought up the problem again I looked further into it and managed to incorporate it properly.

If you still have issues with the newer version, please let me know.

Thanks a lot!

[2010-11-14 23:47] #7 closed, assigned to nobody

[2010-11-15 01:37] flippyhead opened #8 "how to render namespaced HTML entities"
How should I write coffeekup scripts to render unusual html entities, such as the Facebook Connect button?

fb:login-button/fb:login-button

[2010-11-15 01:38] flippyhead opened #9 "why do we need both context and local vars?"
What's the difference between the two save that context vars are referenced by @'s ?

[2010-11-15 01:56] mauricemach commented on #8
CoffeeKup is focused on HTML, but you can also render any arbitrary element using the `tag` function:

[code]

You can also create a shortcut for it and name it whatever you like:

[code]

[2010-11-15 04:18] mauricemach commented on #9
Well since CK templates are nothing but coffeescript/javascript functions we'll always have both. The `@` is just coffeescript's shortcut syntax to `this`.

One implementation difference is that the `this`/`@` is always an actual reference to the original object you passed in as "context". On the other hand the properties of the object passed in as "locals" are made available to your templates eit

[2010-11-16 17:34] aldonline commented on #9
Great clarification.
Maurice may I suggest you take some time to document some of your design decisions?

Annotated source ( a la CoffeeScript ) is cheap to produce and it will save you from tons of ( important ) questions like this one in the future.

Your projects are spot on the money.

[2010-11-16 22:51] danielribeiro opened #10 "Demo doesn't work on opera"
The site http://coffeekup.org/ doesn't work on opera 10.53. Wonder if this will work on this browser at all....

[2010-11-17 04:33] mauricemach commented on #10
The demo is based on Mozilla's Bespin/Skywriter and unfortunately only Firefox, Chrome and Safari support text rendering on canvas at the moment. If I can find the time later I'll add a plain textarea fallback to support IE and Opera though. If you want to fork it and tweak the site to just use the textarea if bespin is not available, I'd be glad to pull.

The lib on the other hand is by all means

[2010-11-17 04:47] mauricemach commented on #9
Indeed aldo! Next on my coffeekup list is documentation. Jeremy's docco is a gift and it's a shame not to use it.

[2010-11-21 23:22] flippyhead opened #11 "referencing partials within coffeekup views"
How do I include partials within coffeekup views?

[2010-11-21 23:26] flippyhead commented on #11
I tried referring to just "partial" but get the error:

ReferenceError: self is not defined

at eval at <anonymous> (/usr/local/lib/node/.npm/coffeekup/0.2.0/package/lib/coffeekup.js:186:12)
    at Object.<anonymous> (eval at <anonymous> (/usr/local/lib/node/.npm/coffeekup/0.2.0/package/lib/coffeekup.js:186:12))
    at anonymous (eval at <anonymous> (/usr/local/lib/node/.npm/coffeekup/0.2.0/packag

[2010-11-22 08:19] mauricemach commented on #11
Partials are not a feature in CoffeeKup itself, and that's usually the case with templating engines. They're often implemented at the web framework level, as I just did with zappa. I'm seriously considering offering this functionality (along with layouts) at the templating engine level though, especially since it can also be used from the client-side.

Meanwhile, you could define a `partial` funct

[2010-11-22 08:23] #10 closed, assigned to nobody

[2010-11-22 08:25] #8 closed, assigned to nobody

[2010-11-22 11:32] dvv commented on #9
Frankly, I'd start to get rid of `with(){}`, because of ES5 in strict mode is stated to be the future, and they deprecate `with`. It's always good to have only one source of data, and `@var` is far clearer than `with(locals){foo = 'bar'}`. OTOH, `@` may not be preserved in deeper levels (say, callbacks to `.forEach()` or `.map()`). What if consider robust and consistent technique: to assign contex

[2010-11-22 16:26] #9 closed, assigned to nobody

[2010-11-22 19:59] mauricemach commented on #9
Since CoffeeKup is free of the `with` keyword by default (you just have the _option_ of using it by passing `dynamic_locals: yes`) I don't see a problem here. Options are (almost) always good.

[2010-11-23 05:54] dvv commented on #9
Right. Remain does the inconsistency of `this` in deeper functions: `@arr.forEach (x) -> @arr === undefined`. You propose to use `=>` in such cases?

[2010-11-23 17:09] mauricemach commented on #9
Yes, and that's what I prefer personally. But if you don't want to / can't use the fat arrow, you can put all your data in a local. Zappa provides the `params` local for example. You could put all your data in your `Z` local as well, it's entirely up to you.

By the way, when you pass `locals` to CoffeeKup, you're not polluting the global namespace. They're exactly what the name says: local variab

[2010-11-23 18:05] dvv commented on #9
I see. By polluting I meant accidental `with(...){$=1;}` which could result in window.jQuery being wiped out, or variations on the same motive at server-side. OK. Thanks for clarifying things.

--Vladimir

[2010-11-29 09:11] #11 closed, assigned to nobody

[2010-12-16 12:42] edoloughlin opened #12 "HR element is ignored if it has no attributes"
The code below only produces the second HR element.
    hr
    hr width:'100%'

[2010-12-16 16:48] mauricemach commented on #12
An element in CoffeeKup is a function. When you write:

[code]

You're indirectly writing the following javascript:

[code]

If you want an empty tag, you need the following javascript:

[code]

Which translated to coffeescript/coffeekup, is:

[code]

[2010-12-16 17:04] edoloughlin opened #13 "Can't compile to JS. Get an empty html file"
If I create a file, templates.coffee, that contains this gist: https://gist.github.com/743651 and I compile it using
    coffeekup templates.coffee

then I get a file, templates.html that contains a single space chacter. My understanding is that I could compile to JS and get a templates.js file out. Is this incorrect?

[2010-12-16 17:06] edoloughlin commented on #12
Oops, of course.

[2010-12-16 17:06] #12 closed, assigned to nobody

[2010-12-18 16:58] mauricemach commented on #13
Currently the coffeekup command only handles compilation to html... there isn't a wrapper for coffeekup.compile yet.

Anyway, in your gist you're assigning your templates to variables. That's why you get an empty output. To get html output (or js when we have the wrapper) the file should contain a template body.

[2010-12-27 12:36] idorosen opened #14 "coffeekup breaks with coffeescript 1.0 becuase of changes made to OptionParser"
Works fine when changing process.argv to process.argv.slice 2 in coffeekup.coffee on line 39.

[2011-01-01 07:56] jaekwon opened #15 "dynamic_locals not documented"
I think I had to use dynamic_locals to get locals to work correctly with recursion. Does this ring a bell?

Anyways, I found a nifty option parameter that did the trick, so I figured this would be nice in the docs.

I'm compiling coffee on the server side (@1.0.0) and running CK on the client.

[2011-01-02 20:26] 525c1e21-bd67-4735-ac99-b4b0e5262290 commented on #14
I have not experienced this yet. I'll post back if I run across it.

I suggest you make a pull-request to @mauricemach with your change.

[2011-01-02 20:27] 525c1e21-bd67-4735-ac99-b4b0e5262290 opened #16 "Support interpolated CoffeeKup"
[code]

currently compiles to

[code]

It would be nice to support this as I often find myself wanting to "span" things up within long paragraphs without breaking it up too much.

[2011-01-05 20:04] mauricemach commented on #14
Just released 0.2.2 with support for coffeescript 1.0!

[2011-01-05 20:06] idorosen commented on #14
Thank you!

[2011-01-05 22:39] mauricemach commented on #16
It'd be nice indeed. But that would require a different implementation model I think. Currently when you execute a method like "span" you're writing to a buffer. To get the output in the order you expect we should change to a model based on return values instead, which I'm not sure is feasible. Do you have an idea on how this could work?

[2011-01-06 04:04] #14 closed, assigned to nobody

[2011-01-06 13:49] ghost opened #17 "Helper bug: ck_repeat"
Check helper in IE. As far as I can remember <code>Array(count).join(string)</code> different in different browsers:

<pre>
ck_repeat = function(string, count) {
  return Array(count + 1).join(string);
};
</pre>

[2011-01-12 05:41] jaekwon opened #18 "the 'h' function"
/&(?!\w+;)/g  should be replaced with /&/g in the 'h' function.

the current implementation will lead to strange bugs and possibly fringe security issues.

[2011-01-12 06:22] aaronblohowiak opened #19 "caching."
looks like expressjs is caching incorrectly -- it won't re-render the page with new data.

[2011-01-14 05:23] mauricemach commented on #17
Worked in IE8 and IE7 mode. Couldn't find anything about it on the web, do you have any additional info?

[2011-01-14 06:15] mauricemach commented on #18
You're right, fixed on master. Thanks!

[2011-01-14 07:19] ghost commented on #17
Hmm. It even works in ie6. Apparently I was wrong. IE evil, makes people paranoid :)

Sorry for the wrong issue.

[2011-01-14 19:03] mauricemach commented on #17
No problem! :)

[2011-01-14 19:04] #17 closed, assigned to nobody

[2011-02-08 17:53] phaer opened #23 "Howto mix tags and text?"
Hi,
If i write

[code]

I get

[code]

As you can see, the first string gets lost somewhere. As inline links are a quite common thing, i wonder if there is a way to do this in coffescript?

thanks

[2011-02-08 18:06] aeosynth commented on #23
You should really use markdown for that, but there is the `text` helper:
    p ->
        text "You can redistribute it and/or modify it under the terms of the "
        a href: "http://www.gnu.org/licenses/agpl-3.0.html", rel: "license", -> "GNU Affero General Public License"
        text "."

[2011-02-09 11:20] arden opened #24 "there's any way that use Express's helpers int coffekup?"
there's any way that use Express's helpers int coffekup?

[2011-02-10 22:13] focusaurus commented on #23
@aeosynth, can you elaborate on how or why markdown would be used here?

[2011-02-10 22:46] aeosynth commented on #23
how - find a markdown module, add its parse method to the coffeekup template's context.

why - http://chriseppstein.github.com/blog/2010/02/08/haml-sucks-for-content/

[2011-02-12 04:48] phaer commented on #23
Thanks for your fast response, I have been using the text helper successfully for the last 3 days. I see your point regarding markdown, but it's just a copyright notice not something i want to have an extra file for.

[2011-02-12 04:48] #23 closed, assigned to nobody

[2011-02-13 02:18] focusaurus commented on #11
Any updates on this?  Can someone point me to a working example of using express partials with coffeekup templates?  I'm getting a similar error to flippyhead.

[2011-02-16 03:00] dce commented on #19
I'm seeing the same thing. Is this an Express issue or a CK one?

[2011-02-19 17:27] jankolkmeier opened #25 "Not working on 0.4.0"
Tried on fresh ubuntu 10.10 using node.js 0.4.0, installed with npm.
Running $coffeekup fails with this:
    Error: Cannot find module 'coffeekup'
        at Function._resolveFilename (module.js:289:11)
        at Function._load (module.js:241:25)
        at require (module.js:317:19)
        at Object.<anonymous> (/usr/local/lib/node/.npm/coffeekup/0.2.2/package/bin/coffeekup.coffee:3:15)

[2011-02-20 02:25] UnderCooled commented on #25
Add this line to `/usr/local/lib/node/.npm/coffeekup/active/package/package.json` :

[code]

[2011-02-20 12:28] jankolkmeier commented on #25
Works great, thanks!

[2011-02-20 12:28] #25 closed, assigned to nobody

[2011-03-02 01:39] jaekwon commented on #14
thank you from SF.

[2011-03-04 08:53] spielstein opened #27 "@body undefined in context"
Hi,
first of all, thanks for coffeekup!
I created a small express project with coffeekup templates. It works fine, except that @body is always undefined in the layout.coffee context.

I'm using express 1.0.7, coffeescript 1.0.1 and coffeekup 0.2.2

[2011-03-04 21:33] ghost commented on #27
I believe the current version of coffeekup does not meet the new template engine guidelines specified here... http://expressjs.com/migrate.html#Template-Engine-Compliance

[2011-03-04 22:44] spielstein commented on #27
Sorry, just saw I had activated express 2.0.0-pre. So this is obviously the cause for the problem; 1.0.7 works.

[2011-03-06 15:44] focusaurus commented on #19
I tested the combination of layout.coffee + index.coffee and layout.coffee is cached permanently and never reloaded.  (index.coffee can be edited and it will be re-rendered though). If I do layout.jade + index.jade, I can edit layout.jade and it will get re-rendered.  Thus I believe it's coffeekup's internal cache.

[2011-03-06 15:55] pyrostrex opened #28 "npm failed to require 'coffeekup'"

[2011-03-16 17:47] quickredfox commented on #25
Above "fix" does not work for me on Node 0.4.2 with coffeekup 0.2.2

[2011-03-25 09:23] emmalemma commented on #11
As near as I can figure, it was a silly coincidence that CoffeeKup ever _seemed_ to work with Express at all... (Edit: I now see it's because of the Express 2.0 changes. It's been a silly coincidence that it's seemed to slightly work since then :) After poking at it for a bit, I finally managed to get layouts working with this:

[code]

Which worked, and got partials working as context variables (

[2011-03-30 19:53] davidarkemp commented on #28
[code]

   coffee> coffeekup = require 'coffeekup'

[code]

[2011-04-06 03:56] hackervera commented on #25
that fixed it for me. thanks

[2011-04-06 04:30] hackervera opened #34 "layout.coffee?"
Error: EBADF, Bad file descriptor '/Users/tyler/instantcoffee/views/layout.coffee'

why is it asking for layout.coffee?

[2011-04-06 08:10] henrikh commented on #34
It's part of Express. Express will automatically use 'view/layout.coffee' as the layout file for a view. To avoid this, disable layouts for your views.

[View rendering in Express](http://expressjs.com/guide.html#view-rendering)

[2011-04-06 21:04] hackervera commented on #34
Thanks!

##

Tyler Gillies
Sent with Sparrow

On Wednesday, April 6, 2011 at 1:10 AM, henrikh wrote:

[2011-04-13 23:20] tanepiper opened #39 "__bind not generated in coffeescript"
In my coffeescript code, within my coffeekup template, => does not generate the __bind function within the script tag.

For example:

[code]

Exception thrown is Uncaught ReferenceError: __bind is not defined

The output is

[code]

[2011-04-17 02:09] alduro commented on #28
I have exactly the same problem.

[2011-04-17 11:56] valpackett commented on #28
Me too :(

[2011-04-20 14:42] quickredfox commented on #28
Temporary Solution, Add:

[code]

To package.json... it's been mentioned before and i think there's a patch in one of the pull requests.

[2011-04-20 17:08] alduro commented on #28
ok, it worked!
aldo@macbook ~/local/node/lib/node/.npm/coffeekup > node

and index.js has to be:
module.exports = require('./coffeekup')
and not ./lib/coffeekup

Thanks.

[2011-05-01 21:59] alduro commented on #28
well, after upgrade npm to 1.0.3 and having installed modules under $HOME/local/node/lib/node_modules/coffeekup the error is back. Any clue ?

[2011-05-01 22:02] quickredfox commented on #28
My guess would be to conduct an investigation on what has changed in the commonJS packages spec and/or how node's "require" follows those changes or not /w regards to what npm also has to say on that. This was the general path I took to figuring it out the last time, it seems to be as it's just a "living on the edge" kinda bug.

[2011-05-04 14:12] sardaukar opened #41 "-> everywhere is ugly"
don't you think so? can't we a) use indentation and b) use some other symbol when we can't get by with indentation alone?

[2011-05-06 17:24] dbrans opened #42 "Named templates as tags?"
Hi there,
Can a template be named and used inside another template as a tag?
Thanks.

[2011-05-08 23:22] alduro commented on #28
installing coffeekup locally works fine. The problem is when is installed globally.

[2011-05-19 17:58] alduro commented on #24
same question here.
How can I use csrf helper in coffeekup template ?

[2011-05-24 19:32] lconnell opened #43 "CoffeeKup Syntax Highlighting"
I don't see any coffeekup specific syntax highlighters for any editor.  Are their any available? Sorry if this is wrong place to post this, didn't see anywhere else more appropriate.

Thanks

[2011-05-26 16:53] alduro commented on #24
any news ?

[2011-05-29 08:39] mauricemach commented on #43
Hey lconnell,

CoffeeKup is actually CoffeeScript being used to express markup, so you can use any of [these](https://github.com/jashkenas/coffee-script/wiki/Text-editor-plugins).

[2011-05-29 08:39] #43 closed, assigned to nobody

[2011-06-14 15:46] payload commented on #5
you are allready looking for used tags in your compile function. you could mostly like this threw a regex on the code to check if there are functions which name matches a special pattern, for example a special prefix like some less used character `Ωfoo -> p "i'm a p in a div class=foo"`
if you detect this you can in advance declare a function `Ωfoo = (args...) -> div class: 'foo', args...` or some

[2011-06-16 05:08] mythz opened #44 "Add to middlemanapp.com"
Hi, I think CoffeeKup would make a nice addition to middlemanapp.com

I asked @middlemanapp and he said they support all languages supported by Tilt:
https://github.com/rtomayko/tilt

[2011-06-16 21:57] kaleb commented on #41
That is part of the syntax of the coffeescript language.

[2011-06-17 05:48] mark-hahn opened #45 "Where are the docs?"
CK looks nice.  I'd really like to try it but I can't find docs anywhere. My google searches reached some discussion that mentions the docs.

Some help?

[2011-06-17 06:35] kadirpekel commented on #45
Hi @mark-hahn,

Not every open source project becomes mature immediately, so they need some time, some attention and some contribution to grow hence much of them are not paid ones and developers have to survive for continuing their daily life in significant standarts.

Do you have sufficient docs? https://github.com/mark-hahn

So...

Would you mind reading the code, and give a fresh start for docu

[2011-06-17 06:58] mark-hahn commented on #45
I'll be honest.  I read the code and I can't make heads nor tails of
it.  It takes the function source, adds a var for each tag used, and
then somehow magically something runs.  I have no idea how "html ->"
turns into "&lt;html&gt;" and I am a long-time coffeescript user.  I have no
doubt the code is awesome. I guess I could step through it with a
debugger.

I think maybe Maurice's writing style i

[2011-06-17 07:08] mark-hahn commented on #45
I'll make everyone a deal.  If someone can give me a quick description of what CK does and how it works, I will then study it further and use it until I am proficient.  Then I will contribute a page of description aimed at idiots like me with no background in the area.   I like writing docs on a topic I like. Check out my project to see if you think my writing is good enough.

I'm serious about th

[2011-06-17 07:08] mark-hahn commented on #45
Sorry, I bumped the close button.

[2011-06-17 07:33] kadirpekel commented on #45
lol :)

Personally your reasonings and deal not make sense for me :)

So my _humble_ suggestion is that don't ever ask for something in a harsh, unkind and unrhetorical way such 'Where are the docs?' for an open source project. Sorry if i hurt, but this is how i feel, that pushes me to respond you such above.

Best.

[2011-06-17 13:35] #41 closed, assigned to nobody

[2011-06-17 17:17] mark-hahn commented on #45
I'm sorry for the misunderstanding.  When I asked the question I really did think there were docs I could not find.  I should have known it would come across as  "why does this stupid project not have any docs?".

I apologize for the weirdness of the whole thread.  I really want to use KC.  I guess I will sit down and spend the time to dissect the code to figure out what is going on. I may ask a f

[2011-06-17 17:17] #45 closed, assigned to nobody

[2011-06-18 08:02] mark-hahn opened #46 "Beginner's Introduction To CoffeeKup"
I bitched in an earlier thread that I couldn't find any docs to learn CoffeeKup.  I offered to write some docs if anyone helped.  Well I've decided to go ahead and write something and hope some of you help as I go along.

I've finished the first section.  Please check it out at https://github.com/mark-hahn/coffeekup-intro. I am writing this as I figure out CoffeeKup so what you see is what I've le

[2011-06-20 09:03] bmidgley commented on #39
fwiw, the workaround is to add it through a script tag

script "__bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };"

or maybe just include underscore.js

[2011-06-22 22:53] mark-hahn opened #48 "How to do subroutines?"
I want to do something like this ...

[code]

Everything I try is failing because of the lack of closure.  Maybe I've just gotten so used to closures I've forgotten how to program without them.  How do others accomplish this?

[2011-06-23 07:11] mark-hahn commented on #48
I got a solution working.  I passed the labelAndInput function in as a local to template.  Since dynamic_locals was off the function was pasted in as text and used that way.

This had a problem though. No function "input" was created because it wasn't present in template, just in labelAndInput.  I had to patch coffeekup to scan all functions added as locals to find needed tags.

So this must not b

[2011-06-27 03:31] lorensr commented on #46
I agree it would be useful.

[2011-06-29 05:30] bmidgley opened #50 ""coffeekup -w" quits on syntax error"
this invocation should report the error and then go back into the watching state instead of bailing out completely. Some of us make syntax errors occasionally :)

[2011-07-05 03:15] grncdr commented on #39
Same thing for me, I'm too new to CS to know when/why it decides to generate the bind function, but I would guess that the compiler thinks it's already generated? (p.s. Thanks for the workaround!)

[2011-07-09 00:57] mauricemach commented on #28
Tested the patch on two machines and still got the issue with or without it. Actually I can't require anything inside the coffee REPL, unless installed globally (in which case even coffeekup works without the patch). Requiring local packages inside the node REPL always works, coffeekup included.

OS: OS X 10.6.8 / Ubuntu 11.04
node: 0.4.8 / 0.4.9
coffeescript: 1.1.1 (both)
npm: 1.0.15 (both)

Jaso

[2011-07-11 16:54] randallb commented on #46
I'm willing to help you document this stuff. Will put it on my todos for this week.

[2011-07-11 23:48] mauricemach opened #51 "Extension mechanism"
Provide a sort of plugin system so that people can develop extensions that can be distributed and consumed easily.

[2011-07-12 05:36] mauricemach commented on #46
Can't thank you enough for stepping up to this. Nice intro! Looking forward to see it complete.

I added a link to it on the [readme](https://github.com/mauricemach/coffeekup/tree/0.2.4beta). I'm going to revamp the website soon too, when I do I'll make sure we have a link to it there featuring prominently.

[2011-07-12 11:13] mark-hahn commented on #51
I assume you want discussion here about how the extensions api would work.  I've got use cases for extensions that I will evaluate against the ideas discussed.

[2011-07-12 11:21] mark-hahn commented on #46
Since you are all watching me now, I felt pressured to put in more work.  I've added four or five new sections tonight.  Unfortunately the number of sections remaining to be done only shrunk by one or two.   That is because I keep adding more sections as I write.  This thing is going to be long.

Please read and comment.  If you say nothing then I will assume it is perfect.  :-)

@randallb Pick an

[2011-07-12 15:50] mauricemach commented on #51
That's right. Though I think this feature should land in 0.2.5 or 0.3.0 as 0.2.4 needs to get published ASAP.

One feature that could qualify as a plugin to me is [abbreviated attributes](https://github.com/mauricemach/coffeekup/pull/47).

One I'm not sure if should be a plugin or a builtin is [stylus support](https://github.com/mauricemach/coffeekup/pull/22) (and markdown, and textile, and sass,

[2011-07-12 16:24] mauricemach commented on #46
"Helpers" are nothing special, I just borrowed the terminology from rails/sinatra for when you pass a utility function to your template, such as rails' `mail_to`.

What I find interesting is that while in ERB these functions are relegated to extraneous <%%> blocks, in CoffeeKup they share the same "namespace" as "normal tags/elements", so it feels like you can extend the language's vocabulary to d

[2011-07-12 21:11] mark-hahn commented on #46
Fixed typo and CoffeeKup spelling.  it figures that I would misspell the name of the entire subject I am documenting.

P.S.  Someone needs to update the version of CS used in the CK trial page.  I found several things that makes CK look better in the latest versions.  I want the docs to match the trial page, although I realize the docs will need to be updated as CS and CK change.

[2011-07-12 22:38] mauricemach commented on #46
I intend to publish 0.2.4 to npm ASAP, then update the website. I just want to make sure nobody has major issues with it, especially packaging issues. Do you?

[2011-07-13 00:46] mark-hahn commented on #46
I thought I responded to this but I don't see the response here.

I'm not going to be able to look at 0.2.4 until next week so I'm not going to be able to help.

[2011-07-13 04:05] mauricemach commented on #46
No problem. Actually, I'll just publish it on npm as 0.2.4beta.

[2011-07-13 17:55] randallb commented on #46
I think it's best if i write what I know, which is maybe a guide to coffeekup w/ express. Maybe a "hello world" and the sort. I'll fork your docs repo and write something up.

[2011-07-14 05:26] mauricemach commented on #24
Deeply sorry for the late reply. Had some personal issues but now I'm back.

Probably doesn't matter to you anymore, but here's the answer. No, you couldn't in CK 0.2.3. In [0.2.4beta](https://github.com/mauricemach/coffeekup/tree/0.2.4beta), you can. Static and dynamic helpers will show up in your template as "context" variables, that is, attached to `@/this`. If you define a helper called foo, y

[2011-07-14 05:26] #24 closed, assigned to nobody

[2011-07-14 06:10] mauricemach commented on #11
cushman, thanks for your detailing your struggle with coffeekup and solution. The new [0.2.4beta](https://github.com/mauricemach/coffeekup/tree/0.2.4beta) removes the need for your first solution, since it puts everything it receives at the "root" of the object param at the "context". So you'll be able to `text @partial 'login'` by default.

To transform this into `partial 'login'`, I think I'm go

[2011-07-14 06:28] #27 closed, assigned to nobody

[2011-07-14 06:43] #34 closed, assigned to nobody

[2011-07-14 06:57] mauricemach commented on #39
I fixed this in [0.2.4beta](https://github.com/mauricemach/coffeekup/tree/0.2.4beta) by including all coffeescript helpers in code generated by the `coffeescript` "tag". But maybe it's a better idea to keep the original behavior of generating "clean" code and requiring the addition of the helpers manually. What do you guys think?

[2011-07-14 07:44] mauricemach commented on #42
Sorry for the absurd delay.

In [0.2.4beta](https://github.com/mauricemach/coffeekup/tree/0.2.4beta), this will work:

[code]

It will generate:

[code]

Note that this will hardcode the stringified contents of `username` inside `main`, not pass it by reference.

[2011-07-14 09:51] mauricemach commented on #5
That would work and wouldn't be a case of creating a new syntax/parser (well, actually, it'd be a borderline case, but acceptable).

The only problem is that we'd substitute the pain of typing lots of characters for that of entering omega or an equivalent for each id... :) The only easily typeable characters I know that are valid JS var names are $ and _, both heavily used by some of the greatest

[2011-07-14 10:13] mauricemach commented on #44
I'd love to see CoffeeKup tilt-compatible, I'm a huge fan of sinatra, but I guess the only way would be [through the coffeekup command](https://github.com/rtomayko/tilt/pull/36) and I don't know if performance would be acceptable for real usage.

[2011-07-14 10:31] mauricemach commented on #45
@mark Reading this now it's amazing you ended up writing such a nice intro about CoffeeKup's internals. Thanks for sticking around!

I'm finally writing a reference for the CoffeeKup API and "syntax". The source on 0.2.4beta is also heavily annotated and the docco-generated HTML is at /docs (soon will be on the revised website). Sorry this wasn't all available when you first learned of the lib!

[2011-07-14 10:40] mauricemach commented on #48
The solution you used was right. Pass it as a "hardcoded" local. In 0.2.4beta you do the same but in this format:

[code]

And it already does the same as your patch, it looks into locals to be hardcoded to find all the needed tags.

[2011-07-14 10:40] #48 closed, assigned to nobody

[2011-07-14 10:48] kadirpekel commented on #45
@mauricemach @mark-hahn did a really nice job, well done! Also as reading this thread now, sorry if i had bumped an overdose reaction.

[2011-07-14 15:03] bmidgley commented on #39
I prefer the automatic code generation. I noticed another of these popped up when I did an "if x in y" so it will be nice to have that work as well without tinkering.

[2011-07-14 18:29] mauricemach commented on #45
@kadirpekel what you said was true, but really a little over in the specific case of @mark-hahn, since he was not _demanding_ docs, he was just puzzled that some people where referencing something he couldn't find. But thanks for the good intention of making the point that we shouldn't demand anything from open source anyway.

[2011-07-14 18:34] mauricemach commented on #39
Automatic it remains then. After all, now thinking, 635 bytes are not _that_ of an issue.

[2011-07-14 18:34] #39 closed, assigned to nobody

[2011-07-14 21:42] payload commented on #5
i prefer clearly `div '#id.class', attr: 'value', -> h1 'foo'`. thats nice.
you could deprecate `tag 'contents'` cause one can also easily do `tag -> 'contents'`

[2011-07-15 00:26] mauricemach commented on #5
`h1 'Title'` is pretty important, don't you think? :)

[2011-07-15 00:33] payload commented on #5
`h1 -> 'Title'` is not such a pain imho
but okay... maybe `div $:'#id.class', attr: 'value', -> h1 'foo'`
a special attribute name. it does not collide with js frameworks or existing attributes and it is easy to type,

[2011-07-15 00:34] payload commented on #5
or `div ['#id.class'], attr: 'value', -> h1 'foo'`

[2011-07-15 01:44] mauricemach commented on #5
What about this?

[code]

[2011-07-15 02:54] payload commented on #5
also okay and it doesn't break old code

[2011-07-19 08:01] #18 closed, assigned to nobody

[2011-07-19 08:12] mauricemach commented on #5
Landed on master!

I ended up implementing more changes than initially planned in the 0.2.4beta branch, and I still want to squeeze in some features such as IE conditionals, so I merged it back to master and renamed the release as 0.3.0beta. The 0.2.4beta branch didn't get published to npm and should just be ignored.

[2011-07-19 12:25] sveisvei commented on #50
occasionally :)

[2011-07-19 22:24] mauricemach commented on #11
Landed in master (0.2.4beta was merged into master and will be published to npm as 0.3.0beta).

[2011-07-20 08:28] clyfe opened #52 "Streaming able ?"
Correct me if I'm wrong.

As far as I can tell  CoffeeKup will never be able to stream the template results because to be able to return the results the top level function must return, and that happens only when all the template finished computing.

Is there anything that can be done to enable streaming support? Will CoffeeKup ever be able to stream results?

[2011-07-20 08:34] clyfe commented on #52
Having said that, my main attraction to CoffeeKup is using it as a "helper language" inside sam's Eco meaning
Eco does the templateing (streamable) and CK does view helping.

Rails

[code]

CoffeeKup

[code]

[2011-07-20 20:19] mauricemach commented on #52
I'm not really familiar with template streaming, but I don't think there should be a problem. No, we don't have to wait for the whole thing to return to get the output; as each function is executed it writes to a buffer. At this moment we might as well fire an event with the chunk, don't we?

I couldn't find any examples on streaming with Eco, nor support for it in its source code, but if you coul

[2011-07-20 20:36] clyfe commented on #52
Indeed you are right. That's awesome.
I don't think Eco does streaming at this point, I just thought that it's definitively possible, since Rails 3.1 (ERB) did it and ERB and Eco are similar.

[2011-07-20 21:22] mauricemach commented on #52
OK! So, I think this could make it into 0.3.0 final. What do you think of this API (completely stolen from [dustjs](http://akdubya.github.com/dustjs/#guide)):

[code]

[2011-07-20 21:36] clyfe commented on #52
Looks good, conforms to node de facto conventions. I wander if the buffer object can also be given as an option (optional).

[code]

and this way have the results sent directly to  a `http.ServerResponse` object, no additional plumbing. Ofc. res should respond to data, end and error.

[2011-07-21 20:28] fhemberger opened #53 "Allow parsing of XML files"
It would be cool to use Coffeekup also for XML files (e.g. RSS or ATOM).
Because of the tag checking, this currently does not work:

[code]

[2011-07-21 20:51] mauricemach commented on #53
You're right, it's a stupid limitation, since the engine is already prepared to render arbitrary XML.

One quick solution would be something I was planning to do anyway - to expose the `tags` collection, in the same way I already did with `doctypes`, allowing them to be customized.

We could also have pre-made tag lists to popular formats such as RSS, in a separate module.

[2011-07-21 21:12] mauricemach commented on #52
How would that work exactly? We'd call `res.write` and `res.end` directly?

[2011-07-21 21:34] fhemberger commented on #53
Why do you restrict the `tags` collection anyway? Just to ensure valid (X)HTML?

Instead you could check incoming tags against a regular expression to avoid invalid characters, something like:
`/[a-zA-Z][-_:a-zA-Z0-9]/` (first char must always be letter, if I recall correctly)

[2011-07-21 21:53] clyfe commented on #52
Yes that's what I was thinking. The interface for the buffer should be http://nodejs.org/docs/v0.5.1/api/streams.html#writable_Stream mainly the `stream.write(...)` and `stream.end(...)`.
If a buffer isn't explicitly given use something internally, so it works both on server and client.

[2011-07-21 22:24] mauricemach commented on #53
No, I'm not actually trying to ensure valid anything. We need a tag list because each tag in CoffeeKup is a function that has to be declared.

[2011-07-24 17:44] lorensr opened #54 "Parsing error"
[code]

correctly gives:

[code]

but when the text is placed first:

[code]

it does not appear in the output:

[code]

[2011-07-24 21:00] mauricemach commented on #54
It's a very common and understandable misconception that I'm going to clarify further in the 0.3.0 docs.

CoffeeKup is not parsed, it's not a language: it's a library that takes HTML-resembling functions (which are meant to be written in CoffeeScript, but in fact could even be JavaScript just as well!) and makes some modifications to them so that when executed, they'll return the equivalent HTML s

[2011-07-25 10:02] mauricemach commented on #46
@mark-hahn merged 0.2.4beta back into master and renamed it to 0.3.0beta. Updated the website with this version. It's still not on npm, I want to do some more checks before publishing.

[2011-07-25 22:21] randallb opened #55 "Conditional form "<option selected='selected'>" near impossible."
I've tried countless ways to conditionally output "selected = 'selected'" in an option field. Not having any luck.

Tried:

option selected: "true" if @value is "value"
option selected: (if @value is "value" then "true" else "")
etc...

Any insight?

[2011-07-26 05:33] mauricemach commented on #55
You could make it work with:

[code]

But I just pushed a fix to handle booleans specially, and now you can just do:

[code]

[2011-07-26 05:39] mauricemach commented on #55
Actually, in my first example, false would result in `<option selected=""></option>`.

In the second example, with the latest version, false is correctly rendered as `<option></option>`.

[2011-07-26 06:54] mauricemach opened #56 "Improve error reporting."

[2011-07-26 06:58] #5 closed, assigned to nobody

[2011-07-26 07:03] mauricemach commented on #15
Sorry for that! Now 0.3.0beta uses `with` by default (since it's the behaviour expected by most people), and the equivalent to `dynamic_locals` is passing an object named `hardcode`. This is all documented in the new [reference](https://github.com/mauricemach/coffeekup/blob/master/docs/reference.md).

[2011-07-26 07:03] #15 closed, assigned to nobody

[2011-07-26 07:44] mauricemach commented on #19
Express now uses `ck.compile` directly, so it handles caching on its own. I tested coffeekup and jade in development and production to confirm and both are working the same way.

Anyway, since this is the expected behaviour by most people, I also changed `ck.render` to set `cache` to `false` by default. It's pushed to master and will land on npm as 0.3.0beta.

[2011-07-26 07:44] #19 closed, assigned to nobody

[2011-07-26 07:55] #42 closed, assigned to nobody

[2011-07-26 08:03] jaekwon commented on #15
hazzah, +1 for `with` support.

[2011-07-26 08:26] #50 closed, assigned to nobody

[2011-07-26 08:28] mauricemach commented on #50
Sorry for the stupid bug! Fixed in [5fb9c390337e9867bb0e](https://github.com/mauricemach/coffeekup/commit/5fb9c390337e9867bb0e875384c31177ec013024).

[2011-07-26 08:31] mauricemach commented on #53
Exposed the collection in [3ca049](https://github.com/mauricemach/coffeekup/commit/3ca049a193af09dab4d30adab4b0cb06aaa06bfb).

[2011-07-26 08:39] mauricemach opened #57 "Fix website in opera."
The ace editors at [coffeekup.org](http://coffeekup.org) are not being rendered in Opera 11.50 (OS X), but [http://ajaxorg.github.com/ace/](http://ajaxorg.github.com/ace/) is.

[2011-07-26 09:13] mauricemach opened #58 "Add support for compilation to JS in the coffeekup command."

[2011-07-26 14:34] randallb commented on #55
Awesome. Updating now.

[2011-07-26 14:34] #55 closed, assigned to nobody

[2011-07-26 14:59] randallb opened #59 "Word "input" prevents rendering."
If the word "input" is used anywhere in a template, rendering any passed variables (local or context) fail.

I believe this stems from this commit, where you changed the word "data" to "input".

https://github.com/mauricemach/coffeekup/commit/03d0155d8770ba44ca22b5401f61e53840dc01cc

previously:

So I have a var called @person with a bunch of details, like "firstname" for instance.

If I use this

[2011-07-26 20:37] mauricemach commented on #59
Duh! Reverted back to `data`.

Thing is, I'm expecting both data and options in this param, because that's how express rolls, so I wanted a less misleading name. But using an HTML element name was really _brilliant_ on my part.

[2011-07-26 20:37] #59 closed, assigned to nobody

[2011-07-27 15:15] randallb opened #60 "Dynamic view helpers from express"
Because of the eval-ing going on, I don't think dynamic view helpers can access stuff they'd normally be able to access, preventing me from using the default CSRF express tools w/ Coffeekup.

I'm going to probably write my own middleware as a result.

[2011-07-27 23:04] mauricemach commented on #60
You mean https://github.com/hanssonlarsson/express-csrf? I couldn't get it working with their readme example + jade (got "Unexpected identifier"). Can you point me to a working sample?

I also ran a little dynamic helpers test with CoffeeKup and they seem to be working fine. I can't think of why they shouldn't. The only "eval-ing" going on in CoffeeKup is at the time of compiling the template (use

[2011-08-03 18:11] randallb commented on #56
+1. When I get errors like:

"TypeError: Cannot read property 'length' of undefined
    at Object.<anonymous> (eval at <anonymous> (/code/node_modules/coffeekup/lib/coffeekup.js:306:12))"

It's really difficult to know where the actual error is in the template.

[2011-08-03 18:13] randallb commented on #56
FYI- that actual error was a missing template. :)

[2011-08-06 08:25] rdrey opened #62 "html5 input required syntax"
Hey guys

this might be an issue with me not knowing coffeescript syntax properly yet (or coffeekup), but here's my question:

I'm playing with html5 forms (http://diveintohtml5.org/forms.html), and want to play with features like "required" in
<input id="q" required>

input id: 'q' #works fine
but how do I add a value-less parameter like "required"?

I've tried:
input id: 'q', required: '' # <- w

[2011-08-06 08:26] rdrey commented on #62
PS: How do I label the 'issue' as a question?

[2011-08-06 13:57] rdrey commented on #62
Got it:
    input id: 'q', required: true

outputs

`<input id="q" required="required">`
which works just like
`<input id="q" reguired>`

[2011-08-06 13:57] #62 closed, assigned to nobody

[2011-08-06 19:56] mauricemach commented on #62
You could also use CoffeeScript's aliases to `true` like `on` and `yes`.

Another CoffeeScript trick would be `input {id: 'foo', required}`, which compiles to JS `input({id: 'foo', required: required})`. You could then feed the template a variable `required` with value `true`.

[2011-08-07 19:29] rdrey commented on #62
Thanks, Maurice!

I found my solution by reading coffeekup's source, still getting used to all the different versions of 'true' ;) Thanks for the answer.

[2011-08-07 19:32] mauricemach commented on #62
Anytime!

[2011-08-13 23:11] mark-hahn commented on #46
I think I've finished my document at https://github.com/mark-hahn/coffeekup-intro.  Send me corrections, comments, and hate-mail.

I'm a little concerned that my doc may already be out of date.  I'm still using the same CK I was using when I started.  Let me know where it is outdated.

[2011-08-15 18:20] #60 closed, assigned to nobody

[2011-08-15 18:20] randallb commented on #60
I'm going to close this for now... I expect to try dynamic view helpers in a day or two.

[2011-08-15 18:36] mauricemach commented on #60
ok!

[2011-08-16 19:15] kevingamble opened #63 "coffeekup.js missing from examples"
The reference to coffeekup.js, in the "/examples/browser/creme" folder, points back to /lib, and the file does not exist there.

I have pulled the latest JS from the repo history (https://github.com/mauricemach/coffeekup/blob/c514d9b26bdc6e44709f624df00aff2275e60882/lib/coffeekup.js) and will try to use that, but just wanted to give a heads up that the ref is gone.

[2011-08-16 20:55] kevingamble commented on #63
From using/downloading previous versions, a quick note about the existing index.html file.

Line 33/34 should be:
$('body').append CoffeeKup.render(codey, context: {stooges: stooges})

In the current file, it's missing the curly braces and throws an error.

[2011-08-18 04:45] mauricemach commented on #46
Finally got the time to read it thoroughly. Nice job! I'm really thankful you took the time to write such a nice article.

My only notes:
- The code block at "Cool formatting" has extra indentation.
- At "Homemade HTML": "CoffeeCup". :)
- "The coffeekup namespace object" - I'd just call it "the coffeekup object", since it's not an empty object used just for namespacing, it's the templating engine

[2011-08-18 04:51] mark-hahn commented on #46
Thanks for reading.

I suspected my fork was getting old.  I need to update my fork and also make the changes you list.  I'll also study up on helpers.

BTW: Any thoughts about how to do plug-ins?

[2011-08-18 04:56] mark-hahn commented on #46
Oops.  Didn't mean to close it.  Close Issue should have an undo.

[2011-08-18 04:57] mauricemach commented on #46
By the way, Express is the most popular web framework for node. Zappa is a CoffeeScript syntactic sugar layer I wrote for Express (named after the Zappa you know), and Meryl is another node web framework by a friend.

"Helpers" are nothing special like I said above, it's just when you write functions that generate HTML and pass them as locals to your template. They feel like "custom tags". Ex.:

[

[2011-08-18 05:02] mark-hahn commented on #46
Thanks.  I was already using helpers and I didn't know it. I'll do a section on helpers.

 I'll just remove any mention of the frameworks.

I noticed you changed the default for locals to be dynamic (I wonder if that will break my code).  I assume you disagree about the disadvantage of dynamic locals using "with".  I'll rethink that comment.

[2011-08-18 05:17] mauricemach commented on #46
It's not actually a default, the option controlling that is gone, now each type of locals go in a differently named object. You can even use both types together.

But I named the "dynamic" type as `locals` because that's the behaviour most people expect, and it's also how most templating engines work. The "hardcoded" method AFAIK is a crazy invention of mine, and now you can't use it unknowingly.

[2011-08-19 23:01] smathy opened #64 "`hardcode` option masked in express adapter"
The code to allow `partial 'view'` instead of requiring `text @partial 'view'` overwrites the `options.hardcode` hash, so if you have other helpers that you want to pass in from express/zappa then you can't.

Patch coming.

[2011-08-20 03:12] #64 closed, assigned to nobody

[2011-08-20 07:29] aeosynth opened #66 "self closing / obsolete tags"
hello, I'm playing around with a [ck rewrite](https://github.com/aeosynth/ck/blob/rewrite/ck.coffee), and I wanted to get everything correct this time so I went looking at the official sources. my results:

[void (self closing)](http://www.w3.org/TR/html5-author/syntax.html#void-elements)

[complete set of elements](http://www.w3.org/TR/html-markup/elements.html#elements), minus self closing

[obs

[2011-08-20 17:24] mauricemach commented on #63
To put the js at /lib, you have to run `cake build`. I should put this somewhere in the docs.

Didn't get your meaning regarding the index.html. The current line is:

[code]

Which is written for 0.3.0beta, and works. In this version there's no need to put things inside `context`.

[2011-08-20 17:38] kevingamble commented on #63
re: JS, gotcha. Thanks for that.

re: context; I was using your old 0.2.x JS file, so I had to keep it within the curly brackets. The cake file and upgrade to CK 0.3beta may make this point mute.

Thanks for the reply. Big fan of your work.

[2011-08-20 17:38] #63 closed, assigned to nobody

[2011-08-20 20:04] mauricemach commented on #63
Hmmm got it. Yeah, the examples are supposed to be ran after `cake build`. I added a note to the readme. Thanks for the feedback!

BTW, the mailing list and IRC channel are up (see readme). Hoping to see you there!

[2011-08-21 02:20] #66 closed, assigned to nobody

[2011-08-21 02:26] mauricemach commented on #66
I like your style. CK is mercilessly minimal and very inspiring.

I should have done this element shopping at the reference a long time ago. Thanks for the push.

The `var` element obviously couldn't be included. We'll have to fallback to `tag` or `text` with this sucker. Maybe I'll implement a similarly-looking replacement for it in the future (`v4r` anyone? :))

[2011-08-21 02:52] aeosynth commented on #66
Thanks for the compliment :). I only add things when I actually need them; if I were publishing on npm, I'd have to add a bit more.

btw, I see the source for [coffeekup.html](https://github.com/mauricemach/coffeekup/blob/master/docs/coffeekup.html), where can I find page online?

[2011-08-21 03:03] mauricemach commented on #66
It's not at the website yet... I gotta revamp it.

[2011-09-03 01:11] randallb opened #67 "Nesting divs on occasion?"
I couldn't figure out an elegant way to pull this off. Is there a better way?

My goal is to create rows. I'm doing this within a larger for loop, looping over an array of objects.

[code]

[2011-09-03 17:57] aaronshaf commented on #58
+1

I've been trying to figure out how the template.js file was compiled in the browser examples, assuming this could be done from the coffeekup command. Would love to see this supported.

[2011-09-04 19:40] mauricemach opened #68 "Hardcode functions recursively"
https://groups.google.com/group/coffeekup/browse_thread/thread/42f9b7bb260734d8/ba6159e8ae3fddce#ba6159e8ae3fddce

[2011-09-04 22:20] rachel-carvalho opened #69 "coffeekup -w only compiles upon first change"
Running `coffeekup -w temp.coffee` doesn't compile the template right away, it only gets compiled after a change is made.

[2011-09-04 22:38] #58 closed, assigned to nobody

[2011-09-04 22:38] #69 closed, assigned to nobody

[2011-09-05 03:44] iangreenleaf commented on #68
+1, I'd be excited to see this.

[2011-09-06 18:49] mauricemach commented on #58
@aaronshaf: the template.js was built by a task in the `Cakefile` that went with the examples. This task used `CoffeeKup.compile` directly.

Now in the released 0.3.0 "final" you can do that in the CLI with `coffeekup --js`. In the examples, the `Cakefile` was replaced by a little shell script that uses this command.

[2011-09-06 19:02] aaronshaf commented on #58
@mauricemach, awesome, you rock! Thanks!

[2011-09-06 20:22] mauricemach commented on #67
Sorry for the late reply. It took me a while to understand what you meant but I think I got it. I'm sure it can be further improved, but I ended up with:

[code]

[2011-09-06 22:40] aaronshaf opened #70 "Smarter JavaScript compilation"
Currrently using the --js option on the command line spits out a template as JavaScript, which is great. Unfortunately, it is bloated with unused code. If one is including 20-30 templates in an app, the cumulative size starts to add up.

div -> p "test"

... is literally at around ~8k of JavaScript, minified to 4.5k.

__ck.doctypes, ie, comment functions, etc., don't need to be included if they ar

[2011-09-07 01:50] jaekwon opened #71 "indexOf not supported in IE7"
It looks like coffeekup isn't compatible with IE7 because indexOf isn't defined in Array.prototype.
I don't personally care, i can work around this issue. Is there a recommended script I can import to define some of these common functions for IE (and maybe other browsers)?

[2011-09-07 06:32] jaekwon opened #72 "why is the cache turned off by default?"
I'm using coffeekup on the client from a django project. I noticed that IE7 was slow to render a list of widgets, and noticed that turning on caching helped. Is there a reason why caching is off by default? There was nothing noted on the README file. #question

[2011-09-07 15:28] mauricemach commented on #72
Caching is an optimization and prevents templates from being recompiled, which is something we want in production but not in development, most of the time. And development mode is also usually the default.

Yeah, I should put a link to /docs/reference.md on the README and the website. This is where the options are documented.

[2011-09-07 16:01] #71 closed, assigned to nobody

[2011-09-07 16:02] mauricemach commented on #71
Sorry, I should have been using CoffeeScript's `in` operator for arrays. Fixed in master.

Feel free to reopen the issue if necessary.

[2011-09-07 16:25] mauricemach commented on #13
You can now compile to JS with `coffeekup --js` in 0.3.0.

[2011-09-07 16:25] #13 closed, assigned to nobody

[2011-09-07 16:27] mauricemach commented on #28
Closing since it seems to be fixed in current versions of npm, feel free to reopen if it happens again to you.

[2011-09-07 16:27] #28 closed, assigned to nobody

[2011-09-07 16:30] #53 closed, assigned to nobody

[2011-09-07 16:31] #54 closed, assigned to nobody

[2011-09-07 16:42] mauricemach commented on #57
Their working demo is now at http://ajaxorg.github.com/ace/build/kitchen-sink.html.

Interestingly, github's new ace-based edit feature falls back to a common textarea in opera.

[2011-09-09 03:02] benekastah opened #73 "Can't install via npm"
Apparently it is having trouble decompressing package.tgz. I am running Mac OS X 10.7.

Here is the full contents of my `npm-debug.log` file.

[code]

[2011-09-09 04:41] mauricemach commented on #73
I guess this an npm bug, I'm on OS X 10.7.1 and node 0.4.11, and I can install coffeekup fine. First thing I'd try is to update npm (mine is 1.0.27). Also, can you install other packages?

[2011-09-09 04:43] benekastah commented on #73
Yeah, other packages seem to work fine (for the most part). I'm on version 1.0.9-1, so I'll try updating, and see if that helps.

---

**Edit:** updated to 1.0.27 and it's working now.

[2011-09-09 04:49] #73 closed, assigned to nobody

[2011-09-11 21:08] ghost commented on #46
I just finished reading this guide - it's really excellent! Thank you!

Re: the fact that arrays are not used - could they perhaps be useful for specifying HTML attributes that don't take a value, e.g.,  `<form autofocus></form>` (http://diveintohtml5.org/forms.html#autofocus)?

[2011-09-13 02:56] colinta commented on #16
a proposal, and a pull request!

[code]

my implementation adds a 'buffers' array, and pushes/pops buffers using `__ck.start` and `__ck.stop`.  `__ck.stop` returns `old_buffer.join('')`, which in a round-about way gets pushed onto the old buffer.

see [gist 1213040](https://gist.github.com/1213040) or [commit dc175e2a03](https://github.com/colinta/coffeekup/commit/dc175e2a03a27cac22a70e99d17840184

[2011-09-13 21:30] mauricemach commented on #46
The problem is that they wouldn't mix with the other attributes:

[code]

The current way reads better and doesn't require extra implementation:

[code]

[2011-09-14 00:00] mauricemach commented on #16
Insteresting approach!

I experimented further with your idea and ended up just this in the skeleton:

[code]

Then we can write:

[code]

In other words, with `inline` you can get the output of a template chunk as a return value instead of having it write to the buffer.

What do you think?

I'm still not happy with the name "inline", I'd prefer something shorter and closer to the meaning of what'

[2011-09-14 00:16] colinta commented on #16
I dig it!  I was at a loss as to how one could avoid `#{strong.inline -> a.inline ...}`.  I was thinking that a lot of use cases would be for just one or two tags, so the `.inline` repetition wouldn't be a big deal.  But it doesn't have the taste of "solution that works for all situations".  Better, I think, to have one function that does that, rather than a bunch of `.inline` fn's (though, I do l

[2011-09-14 00:43] mauricemach commented on #16
I love `function.function` too, and I'll surely exploit it more in the future with coffeekup and zappa.

Yes, most use cases will be really short, and I think even the `function -> chunk` solution is still too bloated for that. But I guess the only room for improvement here is picking a shorter name.

Ditto, naming is freaking annoying... but I can't help it. :) I need meaningful, short names to c

[2011-09-14 00:46] mauricemach commented on #16
Hey, you're jj's author! :) I found it today and it seems very interesting, though I wasn't able to have a closer look yet (npm has been acting funny today).

[2011-09-14 02:06] colinta commented on #16
I am indeed!  It's exciting to have it noticed so quickly after its inception.  Soon here I'm going to spend a hefty chunk of time getting some more packages in there.

And of course I'd be honored to be mentioned on the contributors list :-)

[2011-09-14 06:13] #16 closed, assigned to nobody

[2011-09-14 06:14] mauricemach commented on #16
Thanks to @smathy for the name.

[2011-09-15 20:17] kevingamble opened #76 "Date() parser"
I have searched around, tried several different methods in both coffeescript and native JS, and there doesn't seem to be any way to natively parse a date object (JSON, for example) in CoffeeKup.

As the most basic example, here is what I have, which fails to return a parsed date, instead, it returns today's date/time:
dt = Date(parseInt(@feed[i].CreatedOn.substring(6,24)))

Has anyone used any dat

[2011-09-15 23:35] mauricemach commented on #76
CoffeeKup has nothing to do with `Date`, it's a JavaScript object, with docs available [here](https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Date).

If you instantiate `Date`, I think it should work: `new Date(yourstring)`.

[2011-09-15 23:35] #76 closed, assigned to nobody

[2011-09-20 07:03] #67 closed, assigned to nobody

[2011-09-20 07:07] mauricemach commented on #56
@benekastah took the first step with #74.

[2011-09-20 07:22] mauricemach commented on #70
There certainly is a lot to be done in this area.

One approach I think you could already use though is to compile your templates to pure _javascript_ with `coffee`, then feed them to `coffeekup.js` as functions (not strings). Your example would be then downloaded as just:

[code]

And rendered with:

[code]

[2011-09-20 07:23] #72 closed, assigned to nobody

[2011-09-20 07:59] balupton commented on #46
Awesome stuff and very well written.

How come it isn't a wiki page though?

[2011-09-20 15:50] smathy opened #79 "Attaching event handlers directly"
It'd be great to be able to do this:

[code]

Instead of having to attach it in the onload.

[2011-09-20 18:08] mauricemach commented on #79
Thanks (for moving the issue)!

I'm thinking of rendering it as `onclick="(function(){foo();}).call(this)"`, which is the default CoffeeScript wrapping. What do you think?

[2011-09-20 18:12] smathy commented on #79
Yeah, makes sense.

[2011-09-20 18:46] #79 closed, assigned to nobody

[2011-09-21 14:42] randallb opened #80 "Conditional IE styles?"
I know you could escape / heredoc ie tags, but I thought coffeekup supported IE specific style syntax... am I crazy? If it does support it, probably needs to be better documented (couldn't find on coffeekup.org / the readme markdown). Thx!

[2011-09-21 14:43] #80 closed, assigned to nobody

[2011-09-21 14:43] randallb commented on #80
I'm a moron. Found it in the docs.

[2011-09-22 01:26] mauricemach commented on #80
:) no problem

[2011-09-23 20:06] randallb opened #81 "Echoing out template vars into embedded coffeescript?"
So I'm using an embedded coffeescript block. I get that when I'm normally using templating, I can just use @blah, etc., but in this template block, it's going to be interpreted as part of the embedded coffeescript.

How do I echo out template vars into the embedded coffeescript tag?

[2011-09-23 21:47] mauricemach commented on #81
Since it's not a string, you can't. My suggestion would be to use `script str` to set these variables:

[code]

[2011-09-30 12:14] mathiasrw opened #82 "htmlencoding"
[code]
gives

[code]

instead of

[code]
on the website...
[code]

[2011-10-04 15:34] rachel-carvalho opened #83 "id & class shortcuts expect exact order"
If I use

[code]

it renders as expected:

[code]

but if I switch class and id (which is the case when using [htmlkup](https://github.com/colinta/htmlkup) converter)

[code]

it's interpreted as one big id

[code]

[2011-10-06 11:38] #81 closed, assigned to nobody

[2011-10-06 21:29] rosenfeld opened #84 "Watch directories like Jitter"
Jitter has an interesting feature:

https://github.com/TrevorBurnham/Jitter

jitter src/coffee/ web-app/js/

This will watch all CoffeeScript files in src/coffee/_.coffee recursively and reproduce the same structure inside web-app/js/_.js.

It would be great to be able to do the same with coffeekup, watching for changes recursively in *.ck and generating *.js when passed the --js option.

How abou

[2011-10-12 13:24] iampz commented on #82
i think "script", "style" and "pre" tag will be better if it don't autoescape too.

[2011-10-13 09:15] pgherveou opened #85 "Easily extendable into a higher level "DSL""
Hello thxs for this nice template engine

what's the recommended approach to extend the plugin DSL
right now I 'am embedding helpers in the hardcode option , but I would like to reuse some of them globally
I could wrap the compile or render methods but I am just wondering if this is the best way do to this

[2011-10-14 21:47] ewollesen commented on #83
An additional case that might prove illuminating:

[code]

Yields

[code]

[2011-10-19 13:50] andreineculau opened #86 "Support for require()"
If coffeekup supports coffeescript helpers, then why not add support for requiring a module?

One could then require "fs", read files, etc

[2011-10-20 00:03] skyl commented on #84
agreed, I'm looking for this.

[2011-10-22 22:36] randallb commented on #84
+1. Looking to use this as a part of backbone templates.

[2011-10-24 12:41] ghost opened #88 "Feature: HTML to Coffeekup converter"
It would be practical to have a HTML to Coffeekup converter just like http://js2coffee.org/ could be used to convert into both directions.

That would simple large HTML conversions.

[2011-10-25 19:17] zachwill opened #89 "Variables not rendering?"
Maybe I'm setting this up wrong, but the variables containing more than just a string are not rendering.

**app.coffee**

[code]

**views/layout.coffee**

[code]

**views/index.coffee**

[code]

The `title` element changes to include "An Issue", but the `div.main` remains empty.

Maybe I'm formatting/writing my code incorrectly?

[2011-10-27 17:41] randallb opened #91 "Errors on missing variables is inconsistant with expected behavior"
This is a total feature request that might be worth ignoring... but when I've used other templating engines... if a variable isn't found, the default is to simply ignore the variable, rather than error out and prevent the rest of the template from rendering.

This is, of course, a completely opinion driven design thing, but I feel like it's better for the user (template author) if the rest of the

[2011-11-01 14:59] zeta0134 opened #92 "Zappa Example is Outdated"
With Zappa version 3, the syntax for the get and view functions has changed. Double check my syntax, this is just a quick conversion, but I think it should look like this:

[code]

Basically, all the "magic" functions are attached to @ now, and sending variables to render functions is now done (by default) as an object parameter to the render function. Hooray for closures not being broken anymore.

[2011-11-02 23:47] brandonbloom commented on #88
I maintain one here: https://github.com/brandonbloom/html2coffeekup

[2011-11-03 00:22] ghost commented on #88
No hosted one? =)

[2011-11-03 00:24] brandonbloom commented on #88
I've documented the API & it shouldn't be too hard to get running in the browser. Feel free to contribute :-)

[2011-11-03 00:33] ghost commented on #88
Alright! =)

[2011-11-03 11:49] flexd opened #93 "Problems with basic layout Unexpected 'CALL_START'"
Hi there!

[code]

That simple little layout (basically taken directly from the crashcourse) is giving me the error

[code]

And I have really no idea WHY it is doing this, what am I doing wrong?

The only thing the app.coffee does is serve '/ :-/

[2011-11-06 15:39] flexd commented on #93
I must be doing something very wrong, this happens if I have more than one line/item inside head.

I can get other things to work that look pretty much identical but that exact layout does not work for some reason. I must have some sort of odd character or something in there?

[2011-11-07 16:05] pgherveou opened #95 "pretty formatting in express"
IS there a way to inject the format option when using coffeekup with express ?
ideally it could be done through the pretty view options
app.set "view options", {pretty: true}

[2011-11-09 15:01] hankmander opened #96 "element id shorthand doesn't work client side on IE7"
the coffekup code:
div "#my_id", ->
gives:
&#60;DIV class="#my_id"&#62;
instead of giving the element an id it gives the element a class that starts with a '#'. However, it works if you do this instead:
div id: "register_interest", ->

giving elements classes ( div ".my_id", -> )  works as expected though.

NOTE. This only occurs when client side rendering a template in Internet explorer 7. Might

[2011-11-13 13:05] nbartlomiej commented on #80
Answering this question anyway for search engine visitors (like me):

### Other locals

#### ie

Writes an IE conditional comment. Ex.:

[code]

Taken from: https://github.com/mauricemach/coffeekup/blob/master/docs/reference.md

[2011-11-14 21:13] mark-hahn opened #97 "DryKup, a fork of CoffeeCup"
I would like feedback on a fork I am starting.  It is not a replacement of coffeeKup but just a version that executes the code natively instead of being compiled.  This has some obvious advantages and disadvantages.

https://github.com/mark-hahn/drykup

I wanted to make this a pull request but it will share very little code.   Again, feedback would be appreciated as I am just now starting work on

[2011-11-15 01:20] avioli commented on #86
I second that, but just to clarify it - a require inside a template, so the scope is not too narrowed down.

[2011-11-16 10:42] pgherveou opened #99 "unused tags research"
Hello
When looking for unused tag to strip them out from the template function, coffeekup look for a match of the tag
wouldn't it be more accurate to look for a function call tagname + "("  ?
what do you think ?

[code]

[2011-11-17 20:15] mnichols commented on #70
You might want to have a look at my 'multifile' branch on my clone of this project. It does all you asked for.
I added  examples and updated README to show the way to do it.

https://github.com/Zertis/coffeekup/tree/multifile

[2011-11-19 05:02] balupton opened #101 "Asynchronous document support"
Would be a nice extension for docpad powered websites - http://github.com/balupton/docpad

Happy to brainstorm how this will work (skype: balupton)

[2011-11-23 20:23] flexd commented on #93
Apparently this is a issue with Coffeescript and tabs/spaces/outtabbing.

Editor is to blame I guess!

[2011-11-23 20:23] #93 closed, assigned to nobody

[2011-11-27 03:28] flosse commented on #91
+1

[2011-12-01 15:20] cocodrino opened #102 "using coffeekup with express"
Hi maurice..I've a doubt..is possible write inline views inside my express controllers?..similar to zappa:

@view hi: ->
  h1 @name

I've used clojure noir and I like a lot the idea define my views inside my controller (I know than mvc is better but I don't like)
a noir example would be this:

[code]

is very nice for small apps and now than I found coffeekup I think it can fix me perfect....

tha

[2011-12-06 22:00] zachwill commented on #89
Instead of assigning a function to `@main`, my solution involved assigning variables a true/false value and doing if/else checks in partials. Seemed to be the preferred method of dealing with this problem. Going to go ahead and close this issue for the time being.

[2011-12-06 22:00] #89 closed, assigned to nobody

[2011-12-14 21:19] ghost opened #103 "How to include javascript body?"
I am using this in my template:

[code]

But it won't fire alert.

How can I embed the script body?

[2011-12-14 21:19] #103 closed, assigned to nobody

[2011-12-20 16:37] hankmander commented on #96
Seems like it's the same with current versions of Opera.

[2012-01-11 04:33] lancejpollard opened #105 "How to access tag helpers from a different scope (e.g. inside a helper object instance)?"
If I do this:

[code]

…the `form` and `input` methods are undefined.

I see that it has something to do with how the function scopes are declared here:
- https://github.com/mauricemach/coffeekup/blob/master/src/coffeekup.coffee#L299

Since `this` and `global` don't include the coffeekup tag helper methods, how do I use them here?

I can see potentially running them through the `coffeekup.compile`

[2012-01-16 14:52] dubiousdavid opened #106 "coffeekup cli not working with coffeescript 1.2"
Error: Cannot find module 'coffee-script/lib/optparse'

Should be 'coffee-script/lib/coffee-script/optparse' or 'coffee-script/optparse'.  Not sure.  I'm new to npm and node.  Either way the path is wrong.

[2012-01-19 05:21] lancejpollard commented on #105
I was able to do a workaround by passing in the hidden `__ck` variable:

[code]

There are still 2 problems with this approach:
1. I can't do `template.tag "input", type: "text"`, I have to do something like `template.tag "input", [type: "text"]`, hence the `tag: (name, args…) ->` method.
2. I don't have access to the tag helper variables (h1, h2, etc.).  That's cool though, HAML was just like tha

[2012-01-20 18:07] reaktivo commented on #84
+1. I'm just getting started with Coffeekup and this would be great!

[2012-01-21 00:41] treeform commented on #96
I have the same issue with IE8

[2012-01-23 17:11] reaktivo commented on #106
Getting this too.

[2012-01-23 19:26] treeform commented on #96
fix here:

[code]

I restricted it to hash in the beginning only. Moved empty string check up.

[2012-01-24 11:03] flosse opened #107 "svg tag support"
In html5 it is possible to render in-line SVG. How can this done with CoffeeKup?

[code]

This unfortunately doesn't compile

[2012-01-24 19:17] treeform commented on #83
The code uses "." as a split, so #id.class becomes "#id" "class", and then things with "#" in them become ids

I bet '.class.#id' would work as expected

[2012-01-25 13:52] vayn commented on #106
I've got the same issue.

[2012-01-25 14:55] flosse commented on #106
me too :-/

[2012-01-26 08:17] webjay commented on #88
I made one: http://html2coffeekup.no.de/

[2012-01-26 09:57] n1k0 opened #108 "Lack of a unescape/safe helper when autoescape in on"
When using cofeekup with express and enabling `autoescape`, the `@body` property in the layout will be escaped as well; it should not.

[code]

[code]

What would be especially cool is a `safe` helper:

[code]

What do you think? I can work on a patch and send a PR if you agree on this.

[2012-01-26 12:40] n1k0 commented on #108
For the record, this is a quick workaround:

[code]

I keep thinking that a `safe` helper is needed though :)

[2012-01-27 22:36] randallb opened #110 "Still alive?"
@mauricemach, you still planning to update CoffeeKup? There are like 10 pull requests pending, and I'm just wondering if you're going to keep maintaining this.

[2012-01-27 22:37] randallb commented on #110
As a sub aside, with Express 3, they remove support for Layouts and make the template engine the one to deal with them. I figure that'll mean some changes to docs, at the bare minimum. I'm willing to update docs / howtos if you're planning to keep things going.

[2012-02-01 01:20] avioli commented on #106
a nasty workaround hack:

**Note**: do a `npm update` or `npm -g update`, just to be sure you are up to date (use -g to do a global update)

go to your coffeekup instance (`npm -g install coffeekup` installs it under /usr/local/lib/node_modules/coffeekup/)
`cd lib/`
and open **cli.js** with your fav text editor.

change this line (#7):

[code]

into

[code]

works for me. hope it helps someone els

[2012-02-08 20:46] ejsmith commented on #110
Apparently not.  What a shame.

[2012-02-08 21:35] randallb commented on #110
Someone who's interested in maintaining it should fork it and start maintaining it. I'm moving to Eco, most likely.

[2012-02-10 10:56] jussiry commented on #110
This is such a shame, I really hope someone take up this great project. And @mauricemach, please let us know if you're not interested in maintaining it anymore.

[2012-02-10 19:43] gradus commented on #110
Not sure I have the time to maintain properly, but have forked the project and will work on resolving issues and merging in existing pull request from the original project into my fork.  This is only for my own use b/c I really like coffeekup.  If anyone is interested in helping let me know.  May be a week or so before I have time to work on any of it.

[2012-02-14 15:53] n1k0 commented on #110
I'm getting worry about Maurice. He doesn't answer to emails, twitter, nothing. Anybody having actual news about him?

[2012-02-14 16:10] randallb commented on #110
I don't know him personally... just used coffeekup.

[2012-02-16 17:39] ejsmith opened #111 "Blocks / place holders in layouts"
I want to provide place holders for content in my layout template that I can implement in my child templates.  I have tried everything I can think of but I can only specify string values to be placed in the place holders and not complete html sections.
## layout

[code]
## child template

[code]

[2012-02-21 03:14] gradus commented on #110
I am going to keep using and maintaining this fork https://github.com/gradus/coffeekup  Have already merged in a few of the pull requests.  Any help on getting existing issues into this fork and helping with pull requests would be appreciated.  I don't mind taking over this project at all.  just need a little help.  this is a great project and I want to keep it alive.  anyone interested in helping

[2012-02-21 03:17] gradus commented on #110
@mauricemach hope you are not in jail or having some sort of difficulty that has prevented you from communicating.  I would like to take over this project if you are no longer interested or are unable to do so.

[2012-02-21 03:59] randallb commented on #110
I'm interested in helping. I've never really contributed or led an open source project before, but I'd love to help cofound it. @gradus hit me up with a gh message if you wanna talk about how to keep things going, your priority, etc.

[2012-02-21 13:00] gradus commented on #110
@randalb my priority at the moment is to review the existing pull requests that I feel need to be merged into my fork, add the code manually and then add all of the current issues to this github fork ( https://github.com/gradus/coffeekup ) and start tackling them one by one. Adding issues from @mauricemach / coffekup to my fork is a good way to start.  Then, we can go from there. Everyone should b

[2012-02-21 17:04] ejsmith commented on #110
Awesome!  Glad you guys are interested in keeping this project alive.  It seems like an awesome templating system.  I would love to see it being improved and I will try to help any way I can.  I am still new to this entire world though and I'm slowly getting up to speed.

[2012-02-22 01:49] gradus commented on #110
I have renamed the project and have moved it here https://github.com/gradus/coffeecup.  Will continue to keep it alive as a clone of the original coffeekup.  thanks @mauricemach

[2012-02-22 03:16] gradus commented on #110
Just published npm module coffeecup.  was able to simply require('coffeecup') in existing node v0.6.11 project and seems to work great.  https://github.com/gradus/coffeecup is my new clone.  contributions welcome.  please help me keep this project alive.

[2012-02-23 23:28] gradus commented on #106
I had run into this problem too. Have it marked as an issue to resolve in my own version that I started since it looks like this one is not being maintained, but installing optparse globally fixes the problem with CoffeeCup which should work just like CoffeeKup with a minor name change.  I will be actively maintaining it and addressing issues (hopefully w/ some help)

https://github.com/gradus/cof

[2012-02-25 21:31] gradus commented on #106
This issue is fixed in my clone of coffeekup.

https://github.com/gradus/coffeecup

[2012-02-29 18:25] randallb commented on #110
I just added a bunch of issues that I thought were valid, etc. I'm not sure the best way to deal with this repo since it's kind of a goner now.

[2012-02-29 18:46] gradus commented on #110
Much appreciated @randallb.

[2012-03-08 23:56] ghost commented on #110
thanks guys for keeping coffeekup alive. will move to coffeecup now. thanks!

[2012-03-09 00:45] gradus commented on #110
@marvin Always open to contributions.  Working on fixing a few issues and adding a few new features at the moment.  Please submit an issue if you run across any problems. I have put up a couple boilerplate examples on my github repo using the new CoffeeCup with flatiron and tako web frameworks (black-coffee and macho-tako).  Documentation is now at http://easydoc.org/coffecup.

[2012-03-09 00:54] ghost commented on #110
haha just put up a conversion of the html5 boilerplate to coffeecup :-)
thanks for the link.

[2012-03-16 19:43] joques opened #112 "enabling and disabling button"
I have a form in coffeekup (using express, etc.) with some fields and two buttons (update and close). I would like to enable the update button only if a change occurred in the fields, otherwise I should keep it disabled. I tried to use jQuery, but I am not really getting around doing. Does any have any idea how to go about this?
thanks in advance
José

[2012-03-17 03:59] flowerornament commented on #106
avioli's hack worked for me for now

[2012-03-17 11:59] avioli commented on #106
@msutherl if you clone coffeecup, not coffeekup (a k difference) as @gradus says you won't need to do my hack, because he fixed it in his clone.

[2012-03-17 12:43] gradus commented on #106
@msutherl @gradus https://github.com/gradus/coffeecup is being actively maintained.  The current version of CoffeeCup v0.3.5-3 is compatible with the latest stable node and coffeescript versions. 0.6.12 and 1.2.0 respectively.  I am working on a few new features and some small fixes. Should be releasing a new version soon.

[2012-03-24 14:01] twilson63 commented on #110
if anyone is interested.

I just added some CoffeeCup template handlers for flatiron web framework http://flatironjs.org

http://github.com/twilson63/creamer
http://github.com/twilson63/flatiron-handlers

[2012-03-27 03:19] ming-codes commented on #85
Your web framework should be doing this. For example, expressjs allows you to specify 'view options', which will be passed to the view's compile as options argument.

[2012-03-27 09:55] sgtpep opened #113 "CoffeeScript is going to make "yield" the reserved word"
So coffeekup-*.coffee doesn't compile with coffeescript from master rasing exception: "SyntaxError: reserved word "yield" on line 215".

[2012-03-30 03:35] wmertens commented on #110
@gradus Perhaps you can respond to all open issues pointing out this issue and proclaiming yourself the new maintainer?

If @mauricemach stays MIA for much longer perhaps the github staff can be persuaded to give you access to this repository...

Likewise perhaps the NPM registry could point to your clone? Coffeecup is not very google-able and you would have to know to search for it in the first p

[2012-03-30 07:21] ghost commented on #110
@gradus if you want assign me anything you want and I'll take care of it. FYI

[2012-03-30 07:24] ghost commented on #113
there is a new fork of coffeekup called coffeecup because maurice is missing for a long time and we are working on the new fork. try this https://github.com/gradus/coffeecup
if there is any issues raise it there.

[2012-03-30 07:35] sgtpep commented on #113
Oh, I see. I will take a look at it. Thank you!

[2012-03-30 07:35] #113 closed, assigned to nobody

[2012-03-30 10:15] gradus commented on #110
@wmertens not a bad idea as far as responding to all open issues.  I have discussed with the only other collaborator at this point, @twilson63, the difficulty of finding the project without the 'K".  I obviously made the name change choice b/c of the ability to push to npm.  I think we are going to leave the name CoffeeCup for now and do our best to get the word out as it gains a little more tract

[2012-03-30 10:21] gradus commented on #112
please see issue #110

[2012-03-30 10:21] gradus commented on #111
please see issue #110

[2012-03-30 10:23] gradus commented on #86
please see issue #110

[2012-03-30 10:25] gradus commented on #88
check this out

http://html2coffeecup.jit.su

and

please see issue #110

[2012-03-30 11:00] twilson63 commented on #111
As maurice once said, this functionality is usually implemented in frameworks, but you should be able to do it now.  At least, in a flatiron plugin I created called [creamer](https://github.com/twilson63/creamer)  I am able to accomplish it, by sub dividing my template into local functions.  See my test example:

[code]

[2012-04-10 00:14] aseemk commented on #110
This is actually quite worrying that @mauricemach is MIA. =/ I hope he's okay...

[2012-04-10 00:17] gradus commented on #110
I hope it is a disappearance that was of his own choosing.
This project was based on Markaby.
_why disappeared.

now Maurice after this project.

Hoping I don't happen to disappear next.

On Apr 9, 2012, at 8:14 PM, Aseem Kishore wrote:

[2012-04-10 00:19] aseemk commented on #110
Indeed, I've just noticed that. Thanks @gradus. I hope that this was his own choosing too and that he's okay.

[2012-04-10 00:38] gradus commented on #110
@marvin you still interested in helping.  I know we have made the decision to minimize adding any new features but as @randallb pointed out, 'Error reporting has much to be desired'.  The following issue will be my next top priority, if you are interested in contributing.  https://github.com/gradus/coffeecup/issues/10

[2012-04-10 07:17] ghost commented on #110
@gradus of course I am was just a bit busy with some private stuff and eastern etc
I'll take a look tonight cause have to work right now :-)

[2012-06-12 08:45] ghost opened #114 "This project is dead?"
I would like to use CoffeeKup for my production project but should I worry about the maintenance for this project?

It seems pretty dead.

Could someone clarify the future of it?

[2012-06-23 08:51] molnarg commented on #114
Check out https://github.com/gradus/coffeecup.

[2012-06-30 22:55] gradus commented on #114
@wingy I am actively maintaining a cloned version of this project https://github.com/gradus/coffeecup
I have no plans to give up maintenance.

[2012-08-30 10:51] anodynos commented on #114
@gradus could we be granted access to this repo and continue dev in this keeping the same name and all, to stop confusion ?

[2012-10-29 07:02] kgrz commented on #83
--Edited--
<del>@treeform I guess not.</del> Yes. @treeform is right. The relevant code is here: https://github.com/mauricemach/coffeekup/blob/master/src/coffeekup.coffee#L128

<del>Once the string is split with `.`, the list is traversed and every instance of `#` is removed. There is one logic as to why the author wanted to split against `.` and not `#` -- the tags may have multiple classes but o

[2012-10-29 07:35] kgrz commented on #83
One alternative would be to have another split, this time on `#` if it is present in the string:

[code]

Since the `i.split '#'` returns only a two element array, it would be safe to avoid using the `...` operand on `klass`.

[2012-12-21 02:56] mikesmullin opened #116 "you may be interested in this alternative: coffee-templates"
https://github.com/mikesmullin/coffee-templates

[2013-01-10 06:36] hurrymaplelad commented on #114
For the curious, [goodeggs/teacup](https://github.com/goodeggs/teacup) is a CoffeeKup descendant that maintains lexical scope among other niceties.

[2013-01-10 06:38] hurrymaplelad commented on #116
Or this one [goodeggs/teacup](https://github.com/goodeggs/teacup) :)  It preserves lexical scope.

[2013-01-15 01:43] dubiousdavid commented on #116
Teacup is awesome!

[2013-02-02 15:02] evandrix opened #117 "Incorrect package.json"
Hi,

While trying to install from /package.json, after cloning the git repo, the following warning was displayed:

npm WARN package.json fs-boot@0.0.9 'devDependences' should probably be 'devDependencies'

indicating a typo in this line of the file:

..." **devDependencies** ": {"jade": "0.13.0", "eco": "1.1.0-rc-1", "ejs": "0.4.3", "haml": "0.4.2"},...

[2013-02-13 05:49] globalworming opened #118 "How To Refactor Right?"
Hi

I am trying to refactor my code from

[code]

to

[code]

but

[code]

renderes to

[code]

though I expected it to be

[code]

Could somebody please tell me how to do it right? I could not find an answer to that in the docs. Or is refactoring this way not possible? Then it may be a real issue^^
Help is greatly appreciated.

Regards
Andreas Worm

[2013-02-13 08:23] globalworming commented on #118
same here https://github.com/gradus/coffeecup/issues/59

[2013-02-13 08:23] #118 closed, assigned to nobody

[2013-03-24 08:38] nonocast commented on #113
still error when using coffeecup

[2013-05-23 22:37] jeef3 commented on #117
It's actally kriskowal/fs-boot#3. They haven't republished or bumped the version yet.

[2013-05-24 08:12] krzysu commented on #117
so what should I do to install fs-boot@0.0.9 by npm? In my case looks like connect-livereload@0.1.4 depends on fs-boot@0.0.9 and I cannot proceed.

[2013-05-24 10:13] jeef3 commented on #117
I have the same problem, but have just been ignoring it. I don't think it's causing any issues?

​Until fs-boot is updated to 0.0.10...

[2014-02-11 08:20] askucher opened #119 "How to define custom tags?"
I use angular. So it is helpful for me to defined custom tags. How I can do it?

And is it possible to define "data-attr", "ng-click" , etc?

[2014-06-11 11:54] ramstein74 opened #120 "Is this project dead?"
is this project dead?
why ?

i would like to see a coffeekup package for meteorjs  at https://atmospherejs.com/

[2014-06-27 12:08] waitingkuo commented on #120
I'm also interested in using coffeekup in my meteor app.

[2014-08-12 18:50] swang commented on #120
According to this tweet the author may have passed away....

https://twitter.com/benatkin/status/342371257838362625

[2014-08-13 02:46] jeffmcneill commented on #120
That tweet appears to be speculation only. This project can certainly be forked!

Here appear to be two more active projects:
- https://github.com/gradus/coffeecup
- https://github.com/mizchi/coffeecup

[2014-11-02 00:10] #86 closed, assigned to nobody

[2014-12-16 06:56] evandrix commented on #117
lost interest in writing CoffeeScript, so I'm closing this.

[2014-12-16 06:56] #117 closed, assigned to nobody

[2015-03-26 21:28] Itja commented on #106
I don't know how exactly i ran into this problem 3 years later (using only npm packages), but another workaround for this is
cd /usr/local/lib/node_modules/coffee-script/lib
ln -s coffee-script/optparse.js optparse.js

[2015-09-27 05:37] #44 closed, assigned to nobody

[2015-10-23 20:25] mralexgray commented on #120
+1  Any word on how to use `coffee(k|c)up` with `meteor`?

[2015-11-11 13:06] auvipy commented on #120
why not jade?

[2015-11-11 13:48] ramstein74 commented on #120
If i can do everything using coffescript why should i learn another thing
only for css replacement?
doesnt make sense unless we want to go with mainstream bullshit.

Em 11/11/2015 13:06, "Asif Saifuddin Auvi" notifications@github.com
escreveu:

[2015-11-11 13:49] DomVinyard commented on #120
I agree with the sentiment above although not the hostility.

[2015-11-11 13:59] ramstein74 commented on #120
Hostility removed. Just a joke ;)

2015-11-11 13:50 GMT+00:00 Dom Vinyard notifications@github.com:

[2015-11-11 15:27] auvipy commented on #120
i liked the philosophy but using unmaintaine software in enterprise lvl is bit risky

[2015-11-11 15:32] ramstein74 commented on #120
this time i have to agree with u.
Mainstream to the rescue

2015-11-11 15:27 GMT+00:00 Asif Saifuddin Auvi notifications@github.com:

[2015-11-11 15:33] auvipy commented on #120
but i like coffeescriptish stuffs a lot. i use python hvyly 4 backend. vuejs+coffee for client side

[2015-11-11 15:36] ramstein74 commented on #120
you are a good guy :P
I´m doing some vuejs stuff as we speak.

check
https://github.com/zappajs/zappajs

Another great thing that was lost in time, still supports express 4

2015-11-11 15:33 GMT+00:00 Asif Saifuddin Auvi notifications@github.com:

[2015-11-11 15:45] auvipy commented on #120
thats awesome!! would help me a lot to use vue with coffee :+1:

[2015-11-11 15:50] auvipy commented on #120
I got a proposal, lets create a organization with coffeecup users and volunteers to maintain the good project for long officially with a team :)

[2015-11-11 15:56] ramstein74 commented on #120
I follow you :)  how do you plan to do it ?

2015-11-11 15:50 GMT+00:00 Asif Saifuddin Auvi notifications@github.com:

[2015-11-11 15:57] auvipy commented on #120
I have started some process please wait few moments and get notified and let me know what you guys thinks about the directions.

[2015-11-11 16:02] ramstein74 commented on #120
Great Asif!

2015-11-11 15:57 GMT+00:00 Asif Saifuddin Auvi notifications@github.com:

[2015-11-11 16:05] auvipy commented on #120
new ogranisation created name coffeekup as cup is not available+ this will let the future user of the library
to commemorate the initial author and his naming convention.

2nd point what should be the library name? coffeekup? or coffeecup? which will be better for npm install?  thought guys? who of you are willing to participate in the organization as dev members?

[2015-11-11 16:06] auvipy commented on #120
https://github.com/coffeekup

[2015-11-11 16:13] auvipy commented on #120
i want to invite some of you who worked before and willing to participate :)

[2015-11-11 16:18] auvipy opened #121 "Moving to new github organisation for the longer suatainablity and maintenance of the project: New Org Coffeekup"
this is the new org https://github.com/coffeekup which is still unofficial, but we are looking forward to formalize some thing for the project. contribution and participation are welcome

give your opinion here please

[2015-11-11 16:21] auvipy commented on #114
#121 please do share your thoughts

[2015-11-11 16:22] auvipy commented on #120
#121

[2015-11-11 16:23] auvipy commented on #110
#121

[2015-11-11 16:23] auvipy commented on #97
#121

[2015-11-11 16:39] auvipy commented on #116
#121 plz comment

[2015-11-12 17:58] auvipy commented on #120
no one responded till now

[2015-11-12 21:55] gradus commented on #114
Apologies.  @anodynos, I will grant access to anyone willing to help.  Real life has gotten in the way of maintaining this project in the way it should be.

[2015-11-12 22:00] ramstein74 commented on #120
Dont understand why.
I bet if facebook looked at it only once , "there would be thousands of
talented people here...

2015-11-12 17:58 GMT+00:00 Asif Saifuddin Auvi notifications@github.com:

[2015-11-13 07:27] auvipy commented on #114
for maintaining I decided to open a new github organisation where interested maintainer can group up and collaborate easily

please see the issue
https://github.com/mauricemach/coffeekup/issues/121

[2015-12-01 23:26] emptist commented on #121
I've found https://github.com/goodeggs/teacup

[2015-12-01 23:32] emptist commented on #120
see this https://github.com/goodeggs/teacup

[2015-12-05 05:30] mralexgray commented on #120
@auvipy how do we join?  I want to port/use coffeekup to/with meteor!

[2015-12-05 06:26] auvipy commented on #120
you are well come on the team! I will send you a invite.

[2015-12-20 07:18] jeffmcneill commented on #121
Any news on this? Nothing in the repository mentioned above.

[2015-12-20 07:39] auvipy commented on #121
I send email and invited the coffeecup package maintainer to handover the repo to the or and share publishing credentials to new maintainers. but he seems too busy. I could start a new repo with the updated codes but to publish it under old known name need the package maintainer response. though he told that he will share the credentials.

[2015-12-20 08:54] emptist commented on #121
or select a new name such as coffeecups or coffeekups